<nb-layout>
  <nb-layout-header fixed >
      <div style="width:10px"></div>
      <nb-user style="color:#A5ACB4; cursor: pointer;"  name="סופר מגה" title="חנות"  [nbContextMenu]="items" ></nb-user>
      <div class="vl"></div>
     
      <app-menu-item [data]="menu"></app-menu-item>
      <div class="vl"></div>
      <app-menu-item [data]="menu2"></app-menu-item>
      <div class="vl"></div>
      <app-menu-item [data]="menu3"></app-menu-item>
      <div class="vl"></div>
       
      <span class="menu-spacer"></span>

   
    <a href="#"><img style="height:55px"  class="rounded-circle" src="./assets/new-logo.png" alt=""></a>
  </nb-layout-header>

  <nb-layout-column>
    
    <router-outlet></router-outlet>
  </nb-layout-column>

  <nb-layout-footer >  
    לימון פרוייקטים - מכשירים אותך לעתיד</nb-layout-footer>
</nb-layout>