<!-- Orders -->
<div class="orders">
    <div class="row">
        <div class="col-xl-12">
            <div class="card">
                <div class="card-body">
                    <h4 class="box-title">עסקאות אחרונות</h4>
                </div>
                <div class="card-body--">
                    <div class="table-stats order-table ov-h">
                        <table class="table ">
                            <thead>
                                <tr>
                                    <th class="serial">#</th>
                                    <th class="avatar">כרטיס</th>
                                    <th>מספר עסקה</th>
                                    <th>שם</th>
                                    <th>מוצר</th>
                                    <th>כמות</th>
                                    <th>מצב</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="serial">1.</td>
                                    <td class="avatar">
                                        <div class="round-img">
                                            <a href="#"><img class="rounded-circle" src="./assets/cards-images/visa.png" alt=""></a>
                                        </div>
                                    </td>
                                    <td> #5469 </td>
                                    <td>  <span class="name">Louis Stanley</span> </td>
                                    <td> <span class="product">iMax</span> </td>
                                    <td><span class="count">231</span></td>
                                    <td>
                                        <span class="badge badge-complete">אושרה</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="serial">2.</td>
                                    <td class="avatar">
                                        <div class="round-img">
                                            <a href="#"><img class="rounded-circle" src="./assets/cards-images/mastercard.png" alt=""></a>
                                        </div>
                                    </td>
                                    <td> #5468 </td>
                                    <td>  <span class="name">Gregory Dixon</span> </td>
                                    <td> <span class="product">iPad</span> </td>
                                    <td><span class="count">250</span></td>
                                    <td>
                                        <span class="badge badge-complete">אושרה</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="serial">3.</td>
                                    <td class="avatar">
                                        <div class="round-img">
                                            <a href="#"><img class="rounded-circle" src="./assets/cards-images/visa.png" alt=""></a>
                                        </div>
                                    </td>
                                    <td> #5467 </td>
                                    <td>  <span class="name">Catherine Dixon</span> </td>
                                    <td> <span class="product">SSD</span> </td>
                                    <td><span class="count">250</span></td>
                                    <td>
                                        <span class="badge badge-complete">אושרה</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="serial">4.</td>
                                    <td class="avatar">
                                        <div class="round-img">
                                            <a href="#"><img class="rounded-circle" src="./assets/cards-images/american-express.png" alt=""></a>
                                        </div>
                                    </td>
                                    <td> #5466 </td>
                                    <td>  <span class="name">Mary Silva</span> </td>
                                    <td> <span class="product">Magic Mouse</span> </td>
                                    <td><span class="count">250</span></td>
                                    <td>
                                        <span class="badge badge-pending">בהמתנה</span>
                                    </td>
                                </tr>
                                <tr class=" pb-0">
                                    <td class="serial">5.</td>
                                    <td class="avatar pb-0">
                                        <div class="round-img">
                                            <a href="#"><img class="rounded-circle" src="./assets/cards-images/visa.png" alt=""></a>
                                        </div>
                                    </td>
                                    <td> #5465 </td>
                                    <td>  <span class="name">Johnny Stephens</span> </td>
                                    <td> <span class="product">Monitor</span> </td>
                                    <td><span class="count">250</span></td>
                                    <td>
                                        <span class="badge badge-discomplete">סירוב</span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div> <!-- /.table-stats -->
                </div>
            </div> <!-- /.card -->
        </div>  <!-- /.col-lg-8 -->


    </div>
</div>
<!-- /.orders -->
